:root {

    /* Spacing */

    --space-0: 0px;
    --space-100: 8px;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-600: 48px;
    --space-700: 56px;
    --space-900: 72px;
    --space-1000: 80px;
    --space-1200: 96px;
    --space-1300: 104px;
    --space-1600: 128px;


    /* Colors */

    --white: #FFFFFF;
    --black: #000000;
    --grey-50: #F6F8FD;
    --grey-100: #E4E9F2;
    --grey-300: #C3CAD9;
    --grey-500: #69707D;
    --grey-950: #1D2026;
    --orange-300: #FFAB6A;
    --orange-500: #FF7E1B;
}

*,*::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "KumbhSans";
    src: url("font/KumbhSans-VariableFont_YOPQ\,wght.ttf");
}

body {
    margin: 0;
    font-family: "KumbhSans", "Helvetica", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#header-left {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

#header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#sidenav {
    position: fixed;
    background-color: rgb(255,255,255,0.75);
    backdrop-filter: blur(0.5rem);
    height: 100%;
    width: 0;
    overflow: hidden;
    
}

#sidenav ul {
    margin: 0;
    padding: 0;
}

#sidenav li{
    list-style-type: none;
}

#sidenav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#content {
    padding: 1.25rem 1.25rem 0 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

#price {
    display: flex;
    justify-content: space-between;
}

#current-box {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#quantity-box {
    display: flex;
    padding: 1rem;
    font-size: 1.125rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-50);
    border-radius: 12px;
}

#btn-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

#add-to-cart {
    padding: 1rem;
    background-color: var(--orange-500);
    border-radius: 12px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 600;
    
}

/* Typography */ 

#current-price {
    font-size: 1.5rem;
    font-weight: 700;
}

#discount {
    background-color: #000000;
    color: white;
    padding: .5rem;
    border-radius: 8px;
}

#past-price {
    text-decoration: line-through;
    display: flex;
    align-items: center;
    color: var(--grey-500);
    font-size: 1.125rem;
    font-weight: 600;
}



#quantity {
    margin: 0;
    font-weight: 600;
}

/* Images */

img {
    max-width: 100%;
}

#avatar {
    width: 40px;
}

#hero {
    position: relative;
}



#prev-img {
    position: absolute;
    left: 1rem;
    top: 40%;
    z-index: 1;
}

#next-img {
    position: absolute;
    right: 1rem;
    top: 40%;
    z-index: 1;
}

#prev-img, #next-img {
    background-color: white;
    padding: 1rem;
    border-radius: 100%;
}

#prev-img:hover, #next-img:hover {
    cursor: pointer;
}


@media (min-width: 768px) {

    header {
        padding: 3rem;
    }

    #avatar {
        width: 55px;
    }

    #header-right {
        gap: 3rem;
    }

    main {
        margin-top: 2rem;
    }

    #picture-frame {
        border-radius: 16px;
        height: 350px;
        overflow: hidden;
        position: relative;
    }

    .product {
        position: absolute;
        bottom: -200px;
    }

    #price {
        flex-direction: column;
    }

    #btn-box {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
}